* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
}

.ancho {
    max-width: 1200px;
    margin:auto;
    border: 2px red solid;
}

.margen {
    padding: 15px;
}

.centrar {
    text-align: center;
}

.formulario1 {
    border: 2px blue solid;
}

.elemento1 {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.elemento2 {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 0px 10px #333;
    margin-right: 20px;
}
.btn_rojo {
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #800000 ;
    color: white;
    border: 0;
    cursor: pointer;
}

.btn_dorado {
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #cc9900;
    color: white;
    border: 0;
    cursor: pointer;
}

.formulario2 {
    text-align: center;
}

fieldset {
    width: 500px;
    margin:auto;
    padding: 20px;
    border-radius: 30px;
}

legend {
    padding: 20px;
    margin: auto;
}

.margen_izquierda {
    padding: 10px;
}

.caja1 {
    background-color: red;
    padding: 20px;
}