* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
}

.ancho {
    max-width: 1200px;
    margin: auto;
    border: 1px red solid;
}

.margen {
    padding: 15px;
}

.centrar {
    text-align: center;
}

.video_oficina {
  border: 2px blue solid;
  width: 600px;
  border-radius: 30px;
}

.yt {
  border-radius: 30px;
  width: 100%;
  height: 700px;
  border: 10px rgb(233, 213, 59) solid;
}

.tec
{
  width: 900px;
  height: 500px;
  margin: auto;
  border: 2px green solid;
}