* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
}

.ancho {
  max-width: 1200px;
  margin:auto;
  /*border: 2px red solid;*/
}

.margen {
  padding: 15px;
}

.centrar {
    text-align: center;
}

.rectangulo{
  background-color: #cc9900;
  height: 20px; /*altura*/
}

.contenedor_azul{
  background-color: #041237;
  height: 215px; /*altura*/
}

.contenedor_azulito {
 background-color: #eff2f7;
  height: 80px; /*altura*/
}

.letra_azul {
    color: #037498;
    font: bold;
}

.linea_roja {
  background-color: rgb(205, 4, 4);
  width: 80px;
  height: 8px; /*altura*/
  text-align: center;
  margin: 20px auto;
}

.letra_naranja{
   color:#cc9900;
   font: bold; 
}

.negrita{
     font: bold;  
}
.contenedor_formulario {
    width: 1200px;
    border: 3px #037498 solid;
    text-align: right; 
    line-height: 53px;
    border-radius: 10px;
}

.contenedor_elementos {
    width: 1200px;
    text-align: left;
}

.contenedor_izquierdo {
    width: 550px;
    display: inline-block;
    vertical-align: top; 
}

.contenedor_derecho {
    width: 550px;
    display: inline-block;
    vertical-align: top; 
}

.campos {
    border-radius: 2px;
    border: 1px #999 solid;
    padding:15px;
    width: 520px;
    margin-bottom: 10px;
    margin-left: 12px;
}

.persona {
    margin-left: 20px;
}
.boton {
    padding: 10px 250px;
    background-color: rgb(205, 4, 4);
    color: white;
    border: 0;
    border-radius: 20px;
    margin-left: 20px;
}

.regimen {
    display: inline-block;
    vertical-align: top;
    color:gray;
    font-size: 13px;

}

.datos {  
  text-decoration: none;
  background-color: #041237;
  color:white;
  padding: 25px;
  text-align:center;
  margin-bottom: 10px;
}