* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
}

.ancho {
    max-width: 1200px;
    margin:auto;
    border: 2px red solid;
}

.margen {
    padding: 15px;
}

.centrar {
    text-align: center;
}

.caja1 {
    /*border: 2px black solid;*/
    background-color: aliceblue;
    width: 500px;
    height: 200px;
    border-radius: 10px;

}

.btn_examen {
    background-color: #800000;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
}

.caja2 {
    /*border: 2px black solid;*/
    background-color: aliceblue;
    width: 500px;
    height: 400px;
    border-radius: 10px; 
}

.margen_izquierdo {
    margin-left: 30px;
}

.margen_derecho {
    margin-right: 10px;
}

.caja3 {
    border: 2px #800000 solid;
}

.caja3 img {
    width: 150px;
}

.contenedor_tec {
    height: 400px;
    background-image: url(images/tec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}