* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
    background-color: #FDF9F0;
}

.ancho {
  max-width: 1200px;
  margin:auto;
  /*border: 2px red solid;*/
}

.margen {
  padding: 15px;
}

.centrar {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.contenedor_tec img {
    height: 200px;
}
.contenedor_tec {
    border: 3px red solid;
    text-align: center;
}

.menu {
   height: 60px;
   background-color: #800000; 
}

.menu a {
  text-decoration: none;
  color:white;
  padding: 10px 15px;
  text-align:center;
  border-radius: 5px;
  border:2px #FDF9F0 solid;
}

.texto {
     border: 3px red solid;   
}

.titulo {
    color:#800000; 
}

.info {
   border:2px red solid; 
   background-color: rgb(203, 195, 195);  
}

.rojo {
    color:#800000; 
}

.amarillo {
    color:#cc9900;
}

.subrayado{
    text-decoration: underline ;
}