* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
}
.margen {
padding: 10px;
}
.ancho {
  max-width: 1200px;
  margin: auto;
}
.fondo_gris {
  background-color: #cccccc;
  width: 100%;
  /*height: 200px;*/
}
.contenedor1 {
  border: 3px green solid;
  max-width: 1200px;
  margin: auto;
}
h1 {
  border: 2px red solid;
  width: 400px;
  margin:auto; /*margin:auto sirve para centrar la caja/*/
  text-align:center; /*Este atributo centra el contenido de la caja*/
  text-transform: underline;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
.contenedor1 .parrafo {
  border: 2px blue solid;
  text-align: justify;
}
.contender2 {
  border: 3px aqua solid;
}
.lista1 {
  border: 3px yellow solid;
  margin-left: 30px;
  margin-top: 20px;
}
.lista2 {
  border: 3px orange solid;
  margin-left: 100px;
  margin-top: 20px;
}

.verde{
    color:green;
}

.morado {
    color:violet;
}

.azul {
     color:blue;
}