* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:helvetica;
  font-size: 16px;
  line-height: 24px;
  color:#333;
    background-color: #FDF9F0;
}

.ancho {
  max-width: 1200px;
  margin:auto;
  /*border: 2px red solid;*/
  border: 2px red solid;
}

.margen {
  padding: 15px;
}

.centrar {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.logo img {
  width: 100px;
}

.contenedor_formulario{
  width: 750px;
  background-color: rgb(92, 180, 212);

}
.contenedor_elementos {
  width: 720px;
}
.campos{
  display:block;
  width:100%;
  box-sizing:border-box;
  border:1px solid #cfcfcf;
  border-radius:6px;
  padding:10px 12px;
  font:14px/1.3 inherit;
  background:#fff;
  resize: none; 
}

.comentarios {
 height: 250px;
}

.boton {
  display:inline-block;
  padding:10px 40px;
  background:#CC9900;     
  color:#fff;
  border:0;
  border-radius:10px;   
  margin-left: 300px; 
}

.roja {
  color:#800000;
}